/* Styles for the messages container */
#messages-container {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Vertical scroll */
  display: flex; /* Flex container */
  flex-direction: column-reverse; /* Reverse column direction */
  color: var(--text); /* Text color */
  gap: 0.2rem; /* Gap between messages */
  background-color: #323232; /* Background color */
  border-radius: .6rem; /* Border radius */
  max-height: 80%;
}

/* Styles for the paired chat container */
#paired-chat-container {
  display: flex; /* Flex container */
  justify-content: center; /* Space between items */
  align-items: center; /* Align items vertically */
  flex-direction: column; /* Column direction */
  padding-right: .3rem; /* Right padding */
  padding-bottom: .3rem; /* Bottom padding */
  gap: .2rem; /* Gap between items */
}

/* Styles for the send message button */
#send-message {
  border: none; /* No border */
  background-color: transparent; /* Transparent background */
  color: var(--text); /* Text color */
  display: flex; /* Flex container */
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  position: absolute; /* Absolute positioning */
  right: 2%; /* Right position */
  top: 50%; /* Top position */
  transform: translateY(-50%); /* Center vertically */
}

/* Header styles for chat logs */
.chat-logs-header {
  border-bottom: rgba(255, 255, 255, 0.1) 0.01rem solid; /* Bottom border */
  width: 100%; /* Full width */
  text-align: center; /* Center align text */
}

/* Styles for the message input field */
.message-input {
  width: 100%; /* Full width */
  color: var(--input-text-messages); /* Text color */
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  resize: none; /* Disable resizing */
  padding: .5rem 1.6rem .2rem .5rem; /* Padding */
}

/* Styles for the message input form container */
.message-input-form {
  position: relative; /* Relative positioning */
  width: 100%; /* Full width */
  display: flex; /* Flex container */
  background-color: rgba(94, 94, 94, 0.7); /* Background color */
  border-radius: .1rem; /* Border radius */
}


/* Styles for chat messages */
.chat-message {
  border-top: solid .01rem var(--primary-opacity); /* Background color */
  padding: 8px 12px; /* Padding */
  display: flex; /* Flex container */
  gap: 0.6rem; /* Gap between elements */
  align-items: center;
}




/* Styles for user info in messages */
.message-user-info {
  display: flex; /* Flex container */
  gap: 5px; /* Gap between items */
  align-items: center; /* Align items vertically */
}

/* Styles for message time */
.message-time-updated {
  font-size: 10px; /* Font size */
}

/* Styles for message text */
.message-text {
  word-break: break-all; /* Break long words */
}

/* Stlyes for profile image */ 

.message-profile-pic {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;}