.nav-container {
  background-color: transparent; /* Using custom color variable */
  padding: .6rem 1.5rem; /* Using em units for padding */
  width: 100%;
  height: 100%;
}

.nav-links-home {
  display: flex;
  justify-content: center;

}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 9.5vw; /* Using em units for max-width */
}

.nav-links-other {
  display: flex;
}

.nav-links-login-and-signout {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 1rem;
  font-size: 1.5vw !important;
}



.nav-links-login-and-signout div {
  color: var(--text); /* Using custom color variable */
  text-decoration: none;
  position: relative;
}

.nav-links-login-and-signout div::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .1rem;
  background-color: #20CC09; /* Color of sliding border */
  transition: width 0.3s ease; /* Transition for width */
}

.nav-links-login-and-signout div:hover::after {
  width: 100%; /* Slide in border from left to right on hover */
}


@media only screen and (max-width: 768px) {
  .logo{
    max-width: 14vw;
  }

.profile-setings-button,
.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block; /* Ensure buttons fill entire width of parent */
  padding: 0.5rem 1rem; /* Add padding for better clickable area */
  width: 100%; /* Ensure buttons fill entire width of parent */
  text-align: left; /* Align text to the left for better readability */
  color: #fff; /* Ensure sufficient contrast against the background */
  font-size: 1vw; /* Set font size relative to viewport width */
}



  .nav-links-login-and-signout{
    font-size: 1.4rem;
  }
}

/* @media screen and (max-width: 48em) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links-other {
    margin-top: 1em;
  }

  .nav-links-other div {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
} */
