.not-joined-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-main-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  
}

/** BUTTON STYLING */


#join-channel-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.join-channel-button {
  border: solid transparent 0.01rem;
  padding: 0 1vw; /* Adjust padding using viewport width unit */
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--dark-text);
  transition: background-color 0.3s ease;
}
.join-channel-button:hover {
  background-color: transparent;
  border: solid var(--primary-opacity) 0.01rem;
}

.join-channel-button:hover .join-channel-button-text {
  color: white;
}

.join-channel-button .join-channel-button-text {
  color: var(--dark-text);
  font-weight: 600;
  font-size: 2.5vw;
  transition: color 0.5s ease;
}

/** END OF BUTTON STYLING */

/** IMAGE */
#join-call-cat-image > img {
  max-width: 477px;
  max-height: 477px;
}

#join-call-cat-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;

}

/** VIDEO CONTAINERS */

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#screen-share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 68vw;
  max-height: 88vh;
  flex: 4;
  padding: .5rem;
  align-items: center;
}

#share-screen-placeholder {
  flex: 1;
  text-align: center;
  font-size: 2vw;
}

#screen-share-container > div > div > video {
  /** This puts it at a 1920 x 1080 ratio */
  background-color: transparent !important;
  width: 100%;
  object-fit: contain !important;
}
/* #screen-share-container > div > div {
  background-color: transparent !important;
} */

.share-screen-cats {
  object-fit: contain;
  max-width: 100%;
  filter: brightness(70%);
  border-radius: 1rem;
}

.screen-share > div {
  height: unset !important;
}

.screen-share {
  border-radius: .5rem;
  overflow: hidden;
  padding: .2rem;
}




.agora_video_player {
  position: unset !important;
}


.vid > div > div > video,
.vid > div > div > div > video {
  border-radius: 4px;
  position: unset !important;
  object-fit: contain !important;
  max-width: 100%; /* Ensure video fills the container horizontally */
  height: 100%; /* Ensure video fills the container vertically */
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 100%;
  position: relative;
}

.spinning-gemini-large {
  animation: spin infinite 2s linear;
  width: 1.5vw;

}

.gemini-icon-large {
  width: 1.5vw;


}

.gemini-button-large{
  font-size: 1.3vw;
  border: solid #9168C0 0.04rem;
  padding: 0 .5vw;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6vw;
  transition: border-color 0.3s ease-in-out;

}

.gemini-button-large:hover {
  scale: 1.01;
  border-color: #5684D1;
}




