.accent {
  color: var(--primary);
}

.landing-page {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*background-color: #323232;*/
}

.landing-page-description {
  flex: 1; /* Take up remaining space */
  max-width: 100%; /* Allow description to take up to 50% of parent */
  text-align: center;
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#imgBanner img{
  opacity: 0;
  animation: fadeIn .5s ease-in-out 1s forwards;
  width: 40vw;
  height: 30vw;
  
}

#header-section{
  display: flex;
  padding: 10vh 0vh 15vh 0vh;

}

.landing-page-get-started {
  border: none;
  padding: 0 1vw; /* Adjust padding using viewport width unit */
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--dark-text);
  font-size: 1.7vw; /* Adjust font size using viewport width unit */
  font-weight: 500;
  transition: background-color 0.3s ease, color .3s ease;
}

.landing-page-get-started:hover {
  background-color: transparent;
  border: solid var(--primary-opacity) 0.01rem;
  color: var(--text);
}

.landing-text-one {
  font-size: 2vw; /* Adjust font size using viewport width unit */
}

.landing-text-two {
  font-size: 1.7vw; /* Adjust font size using viewport width unit */
}

.landing-text-three {
  font-size: 1.6vw; /* Adjust font size using viewport width unit */
}

#languages-section{
  max-width: 100%;
  
  background: rgb(23,23,23);
  background: linear-gradient(180deg, rgba(23,23,23,0.6460959383753502) 0%, rgba(23,23,23,1) 24%, rgba(25,25,25,1) 79%, rgba(50,50,50,1) 100%);
}

#language-section-description{
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

h2{
  text-align: center;
  color: #20CC09;
  font-size: 3rem;
}

#language-section-description h2{
  margin-top: 5vh;
  text-align: center;
  color: #20CC09;
  font-size: 3rem;
}

#language-section-description p{
  font-size: 1.5rem;
  margin-top: 2vw;
  text-align: center;
}

#languages-lineup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1vw;
  width: 100%;
  
  mask-image: linear-gradient(90deg, hsl(0 0% 0% / 0), hsl(0, 0%, 0%) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
}

.languages-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
  margin-top: 5vh;
} 

.languages-card img{
  width: 12vw;
  height: auto;
}

#flask{
  width: 12.5vw;
}

#redux{
  width: 13vw;
}

#agora{
  width: 15.5vw;
}

#gemini{
  width: 13vw;
}

.languages-card p{
  font-size: 1.2rem;
  margin-top: .5vh;
}

#benefits-section{
  padding-top: 15vh;
  padding: 20vh 0vh 10vh 0vh;
  background-color: #323232;
  display: flex;
  justify-content: space-evenly;
}

#benefits-section-description{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3vw 5% 0vw 10% ;
}

#benefits-section-description p{
  font-size: 1.5rem;
  margin: 2vw 0vw 2vw 0vw;
}

#benefits-section-description h2{
  margin-bottom: 2vw;
  text-align: start;
}

#benefits-section-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  width: 40%;
  margin: 3vw 5% 0% 0%;
  
}

.benefit-card{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 2vw;
  border: solid #20CC09 3px;
  border-radius: 10px;
}

.benefit-card img{
  height: 13vw;
  width: 13vw;
}

.benefit-card p{
  font-size: 1.5rem;
  margin-top: 2vw;
  text-align: center;
}

#call-to-action-section{
  background-color: #323232;
  padding: 5vh 0vh 7vw 0vh;

}

#call-to-action{
  width: 100%;
  padding: 5vh;
  display: flex;
  justify-content: space-around;
  background-color: #171717;
}

@media only screen and (max-width: 425px ){
  #imgBanner{
    display: none;
  }

  #welcome-message{
    font-size: 2.5rem;
  }

  .landing-page-get-started{
    height: fit-content;
    padding: 2vw;
  }

  #languages-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #languages-lineup{
    max-width: 85%;
  }

  #benefits-section-cards{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1, 1fr);
    min-height: 15vw;
  }
}

@media only screen and (max-width: 1200px) {
  #imgBanner{
    display: none;
  }

  .landing-page {
    flex-direction: column; /* Stack content vertically on small screens */
  }

  .landing-page-description {
    max-width: 100%; /* Allow both description and image to take full width on small screens */
  
  }

  .landing-text-one {
    font-size: 3vw; /* Adjust font size using viewport width unit */
  }

  .landing-text-two {
    font-size: 2.5vw; /* Adjust font size using viewport width unit */
  }

  .landing-text-three {
    font-size: 2.3vw; /* Adjust font size using viewport width unit */
  }

  .languages-card img{
    width: 13vw;
    height: auto;
  }

  #flask{
    width: 14vw;
  }

  #agora{
    width: 16vw;
  }

  #benefits-section{
    flex-direction: column;
    align-items: center;
  }

  #benefits-section-description h2{
    text-align: center;
  }

  #benefits-section-description{
    width: 80%;
    margin: 3vw 0vw 0vw 0vw;
  }

  #benefits-section-cards{
    width: 80%;
    margin-right: 0vh;
  }

  #call-to-action{
    flex-direction: column;
  }

  #call-to-action p{
    text-align: center;
    
  }

  .landing-page-get-started{
    margin-top: 3vw;
    font-size: 1.7rem;
    align-self: center;
  }
}

@media only screen and (max-width: 1440px) {
  .landing-page-cool-image {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}
